html, body, #map {
  height: 100%;
  margin: 0;
  padding: 0;
  color: white;
  font-family: Andika, Times, serif
}

#map {
  color: black;
}

#timeline {
  bottom: 0px;
}

#controls {
  bottom: 100px;
}

.bar {
  height: 45px;
  padding: 15px;
  width: 920px;
  background-color: black;
  position: absolute;  
}

.tick text {
  fill: white;   
}

.eruption {

}

#header {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 35px;
  background-color: black;
  opacity: .8;
  z-index: 9999;
}

h1 {
  margin: 0px;
  padding: 0px;
  padding-left: 5px;
  font-variant: small-caps;
  display: inline;
  float: left;
}

#subtitle {
  margin: 0px;
  margin-top: 15px;
  padding-left: 15px;
  display: inline;
  float: left;
}

#subtitle span {
  font-weight: bold;
  /*text-decoration: underline;*/
}


.button {
  cursor: hand;
  float: right;
  margin: 0px;
  padding: 0px;
  padding-right: 10px;
  display: inline;
}

.earthquake {

}

.centered {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
}